<!Doctype html>
<html>
<head>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>

<body>
	<div class="w3-container">
		<div class="w3-half">
			<div class="w3-card-4" style="width: 92%; max-width: 300px;">
				<div class="w3-container">
					<p>Architect and engineer</p>
				</div>
				<div class="w3-container">
					<h4>
						<b>John</b>
					</h4>
					<p>Architect and engineer</p>
				</div>
			</div>
			<br>
		</div>
	</div>

</body>
</html>